body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 19.5px;

  }

  h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
  }
  h2 {
    font-size: 2.1rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
  }
  h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
  }
  p{
    line-height: 2;

  }
  hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

  }

  .table2, .table2  th, .table2  td {
    border:1px solid black;
  }

  .contact-me{

  }


  .top-container{
    background-color: #A3E5FA;
    position: relative;
    padding-top: 100px;
  }
  .middle-container{
    margin: 100px 0px;
  

  }

  .buttom-container{
    background-color: #66BFBF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 50px;
   
  }

  .top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

  }
  .buttom-cloud{
    position: absolute;
    left: 300p;
    bottom: 300px;

  }

  .skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
  }

  .coding-img{
    width: 25%;
    margin-right: 30px;
    text-align: center;
    float: left;
  }

  .btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  a:hover{
    color: #EAF6F6;
  }
  .copy-right{
    color: #EAF6F6;
    font-size: 12px;
  }